pipeline/GetMetaDataActivity.json
{
	"name": "GetMetaDataActivity",
	"properties": {
		"description": "Input as data set and output as meta data (input as a list of files stored on local system)",
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "GetMetaDataWaitActivity",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GetMetaDataActivityDataSet",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "FileServerReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "MetaDataFilter",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,'e')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "IfCondition_GetMetaData",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "MetaDataFilter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@empty(activity('MetaDataFilter').output)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "IfCondition_appendVariable",
							"type": "AppendVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "IfCondition_variable",
								"value": "'FalseCondition'"
							}
						}
					]
				}
			},
			{
				"name": "GetMetaDataWaitActivity",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 5
				}
			}
		],
		"variables": {
			"IfCondition_variable": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}